@page "/practicai"
@page "/"

<div class="container">
    <div class="jumbotron">
        @*primera fila de 3 tarjetas*@
        <div class="card-deck mb-3">
            <div class="card">
                <img src="/images/any.jfif" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="cart-title"><em>@CarType</em></h5>
                    <small class="text-muted">@CarDescription</small>
                </div>
                <footer class="blockquote-footer">
                    <small>@Author</small>
                </footer>
            </div>
            <div class="card">
                <img src="/images/any.jfif" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="cart-title"><em>@CarType</em></h5>
                    <small class="text-muted">@CarDescription</small>
                </div>
                <footer class="blockquote-footer">
                    <small>@Author</small>
                </footer>
            </div>
            <div class="card">
                <img src="/images/any.jfif" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="cart-title"><em>@CarType</em></h5>
                    <small class="text-muted">@CarDescription</small>
                </div>
                <footer class="blockquote-footer">
                    <small>@Author</small>
                </footer>
            </div>
        </div>

        @*Segunda fila de 3 tarjetas*@
        <div class="card-deck mb-3">
            <div class="card">
                <img src="/images/any.jfif" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="cart-title"><em>@CarType</em></h5>
                    <small class="text-muted">@CarDescription</small>
                </div>
                <footer class="blockquote-footer">
                    <small>@Author</small>
                </footer>
            </div>
            <div class="card">
                <img src="/images/any.jfif" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="cart-title"><em>@CarType</em></h5>
                    <small class="text-muted">@CarDescription</small>
                </div>
                <footer class="blockquote-footer">
                    <small>@Author</small>
                </footer>
            </div>
            <div class="card">
                <img src="/images/any.jfif" class="card-img-top" alt="..." height="">
                <div class="card-body">
                    <h5 class="cart-title"><em>@CarType</em></h5>
                    <small class="text-muted">@CarDescription</small>
                </div>
                <footer class="blockquote-footer">
                    <small>@Author</small>
                </footer>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

@code {
    public string CarType = "Convertible";
    public string CarDescription = "Descripción del carro convertible";
    public string Author = "Juan V.";
}